<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css" />
</head>
<body>
    <div style="background-color:pink; height=300px; width:200px; float:left">
        <div style="border-style: groove; padding = 20px;">
            <label>Name: </label>
            <input type="text" style="padding-left: 0px 25px;" name="PlayerName"><br/>
        </div>
        <input type="radio" id="SinglePlayer" name="PlayType" value="0" checked="checked">Local Multiplayer<br/>
        <input type="radio" id="MultiPlayer" name="PlayType" value="1">LAN Multiplayer
    </div>
</body>
</html>